<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="slides.slideTo(segment)" [(ngModel)]="segment" value="0">
      <ion-segment-button value="0" checked>
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Predictions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Analysis</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" checked>
        <ion-icon name="folder"></ion-icon>
        <ion-label>Data</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-icon name="code-download"></ion-icon>
        <ion-label>Documentation</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-slides #slides (ionSlideWillChange)="segment=''+slides.getActiveIndex()" pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-card>
              <ion-card-header>
                  <ion-card-subtitle color="primary">Classifier Demo</ion-card-subtitle>
                  <ion-card-title>Live Clasification (From Right Now)</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <ion-card-header>
                            <ion-card-subtitle>OpenWeatherMap</ion-card-subtitle>
                            <ion-card-title>Current Data Is:</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-chip>
                              <ion-icon name="thermometer"></ion-icon>
                              <ion-label>{{owmPreds[0].temp}}</ion-label>
                            </ion-chip>
                            <br>
                            <ion-chip>
                              <ion-icon name="arrow-down"></ion-icon>
                              <ion-label>{{owmPreds[0].press}}</ion-label>
                            </ion-chip>
                            <br>
                            <ion-chip>
                              <ion-icon name="water"></ion-icon>
                              <ion-label>{{owmPreds[0].humd}}</ion-label>
                            </ion-chip>
                            <br>
                            <ion-chip>
                              <ion-icon name="flag"></ion-icon>
                              <ion-label>{{owmPreds[0].wind}}</ion-label>
                            </ion-chip>
                          </ion-card-content>
                        </ion-card>
                  </ion-col>
                  <ion-col>
                      <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>OpenWeatherMap</ion-card-subtitle>
                            <ion-card-title>OpenWeatherMap Says</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-chip color={{owmPreds[0].color}}>
                                <ion-icon name={{owmPreds[0].icon}}></ion-icon>
                                <ion-label>{{owmPreds[0].weather}}</ion-label>
                              </ion-chip>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  <ion-col>
                    <ion-card>
                      <ion-card-header>
                          <ion-card-subtitle>Lucy and Jacob</ion-card-subtitle>
                          <ion-card-title>Our KNN Says</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <ion-chip color={{ourPred[0].color}}>
                              <ion-icon name={{ourPred[0].icon}}></ion-icon>
                              <ion-label>{{ourPred[0].weather}}</ion-label>
                            </ion-chip>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle color="primary">Full Forecast Demo</ion-card-subtitle>
                    <ion-card-title>Weather for {{city}}, {{country}}</ion-card-title>
                    <br>
                    <ion-item>
                        <ion-label>Select Start Date:</ion-label>
                        <ion-datetime #dateTime display-format="MMM DD, YYYY" (ionChange)="getHistoricalData()" min="2014-10-01" max="2019-04-10"></ion-datetime>
                      </ion-item>
                  </ion-card-header>
                  <ion-card-content>
                    Historical Data provided by OpenWeatherMap
                    <br>
                    <ion-spinner *ngIf="spinner1" name="crescent"></ion-spinner>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor="let pred of historyPreds">
                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>{{pred.dt}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-chip color={{pred.color}}>
                                <ion-icon name={{pred.icon}}></ion-icon>
                                <ion-label>{{pred.weather}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="thermometer"></ion-icon>
                                <ion-label>{{pred.temp}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="arrow-down"></ion-icon>
                                <ion-label>{{pred.press}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="water"></ion-icon>
                                <ion-label>{{pred.humd}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="flag"></ion-icon>
                                <ion-label>{{pred.wind}}</ion-label>
                              </ion-chip>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <br>
                    Our Forecast created with Time Series and KNN
                    <br>
                    <ion-spinner *ngIf="spinner2" name="crescent"></ion-spinner>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor="let pred of forecastPreds">
                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>{{pred.dt}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-chip color={{pred.color}}>
                                <ion-icon name={{pred.icon}}></ion-icon>
                                <ion-label>{{pred.weather}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="thermometer"></ion-icon>
                                <ion-label>{{pred.temp}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="arrow-down"></ion-icon>
                                <ion-label>{{pred.press}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="water"></ion-icon>
                                <ion-label>{{pred.humd}}</ion-label>
                              </ion-chip>
                              <br>
                              <ion-chip>
                                <ion-icon name="flag"></ion-icon>
                                <ion-label>{{pred.wind}}</ion-label>
                              </ion-chip>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                  <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="openOpenWeatherMap()" size="small">
                      <ion-icon name="link"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Lucy Cousins and Jacob Bashista</ion-card-subtitle>
                <ion-card-title>Project Description and Learning Objectives:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Our project aimed to create a 5 day weather forecast for Boston, MA.  We wanted to find and display the best models for predicting the categories of weather: temperature, humidity, air pressure, wind speed, wind direction, cloud coverage, and most importantly weather type.  Our learning goals were to create relatively accurate predictions for quantitative and categorical data, and to display them in an interactive, cohesive website.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col text-center>
            <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>Lucy Cousins and Jacob Bashista</ion-card-subtitle>
                  <ion-card-title>Resources:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  Our data was gathered from a site called openweathermap.org, which provides a six year history for any city upon a small fee.  We used different libraries, including ROCR, class, ggplot2, fpc, and forecast.  We also used Javascript, Typescript, Python, HTML and CSS to create a website that could display the live and interactive weather predictions.  We used time series models to predict the quantitative variables and we used KNN and K-means for predicting weather type.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
              <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Lucy Cousins and Jacob Bashista</ion-card-subtitle>
                    <ion-card-title>Summary:</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Our KNN model for predicting weather type (cloudy, clear, rain, etc.) was fairly successful, with a misclassification rate of only 24%.  Our K-means model was much less accurate, with a misclassification rate exceeding 50%. 
                    <br>
                    We verified our time series models by comparing our predicted values to the actual values.  On one trial of our model verification, our temperature was off by 15°F, our wind speed was off by 1 meter per second, air pressure by 13 hPa, humidity by 24%, wind direction by 53°, and our cloud coverage by 124%.  This unrealistic error for cloud coverage is because our model could not recognize that the cloud coverage data was a percentage. The wind direction is measured in degrees and therefore error is hard to measure at is a circular value. 
                    <br>
                    Overall, we are pleased with the accuracy of our models, especially our KNN model.  In an ideal world, our time series models for the quantitative variables would be more accurate, however, they do a reasonable job.
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col text-center>
                <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle>Lucy Cousins and Jacob Bashista</ion-card-subtitle>
                      <ion-card-title>Challenges:</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      As can be seen with our cloud coverage prediction, our time series models could not recognize that some of our data had limits.  More specifically it could not recognize that cloud coverage and wind direction could not exceed certain values.  For example, cloud coverage cannot exceed 100%, but our model occasionally predicted values like 147%.
                      <br>
                      Furthermore, most weather data is seasonal, however, the different categories oscillate with different periods.  For example, temperature changes most dramatically at the scale of months, with winter being cold and summer being warmer.  However, wind speed changes most dramatically at the scale of hours, with nighttime being calmer and daytime being windier.
                      <br>
                      Weather is notoriously difficult to predict, especially without advanced data like that gathered from RADARs and data about nearby cities.  It is even more difficult to predict in New England where the weather can change at any moment!  Thus, it was difficult to get reasonably low error rates for our models.
                      <br>
                      Lastly, perhaps the most underrated challenge was getting everything to work together, in that we needed each and every one of our models to work correctly, our predictions to work with relatively low error, and our plots to display exactly what we want.  Strange things seemed to pop up with little explanation, like inverted values and never-changing weather types.  It was the little and lurking things that presented the most prominent challenge for our project as a whole.
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
    </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
              <ion-card>
                  <ion-card-header>
                    Hours in Year with Weather
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #radarCanvas></canvas>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title>Data Files</ion-card-title>
                    <ion-card-subtitle>All files we used to build our models</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Raw JSON</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              Raw JSON file we aquired from OpenWeatherMap
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openRawJSON()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Fake CSV</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              A fake CSV dataset used for building our model blueprints.
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openFakeCSV()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Cleaned CSV</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              CSV version of our full data set with unused data removed and converted to CSV.
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openCleanedCSV()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Compressed CSV</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              CSV dataset used for graphics on the website.
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openCompressedCSV()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title>Python Builders</ion-card-title>
                    <ion-card-subtitle>These python scripts were used to make it easier to handle our data</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Data Generator</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              Generates Fake Data for building our models
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openDataGenerator()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Data Cleaner</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              Converts the full .json file into a cleaned .csv file
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openDataCleaner()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col text-center>
                              <ion-label>Data Compressor</ion-label>
                            </ion-col>
                            <ion-col text-center>
                              Compresses our data from hourly to daily values
                            </ion-col>
                            <ion-col text-center>
                              <ion-button shape="round" (click)="openDataCompressor()">
                                <ion-icon name="download"></ion-icon>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col text-center>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Documentation</ion-card-title>
                  <ion-card-subtitle>Our project is hosted on GitHub</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <br>
                  <br>
                  <ion-fab vertical="center" horizontal="center">
                    <ion-fab-button (click)="openGithub()" color="medium" size="small">
                      <ion-icon name="logo-github"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col text-center>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Sources</ion-card-title>
                  <ion-card-subtitle>All data was collected from OpenWeatherMap</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <br>
                  <br>
                  <ion-fab vertical="center" horizontal="center">
                    <ion-fab-button (click)="openOpenWeatherMap()" color="medium" size="small">
                      <ion-icon name="globe"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slide>
  </ion-slides>
</ion-content>